@charset "UTF-8";

.rd-navbar-menu-wrap {
    padding: 0px !important;
    margin: 0px auto !important;
    background: #000000 !important;
}

.rd-navbar-nav>li>a {
    padding: 18px !important;
    color: #ffffff !important;
}

.rd-navbar-static.rd-navbar-logo-center.rd-navbar-light .rd-navbar-nav>li>a:hover {
    background-color: #052465;
    color: #ffffff;
    /*display : block !important;*/
}

.margin-none {
    margin: 0px !important;
}

.padding-none {
    padding: 0px !important;
}

.tab-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
    .tab-item {
        transform: scale (.3)
    }

    .call-to-action-cat-name {
        transform: scale(.5);
    }
}

.btn-shop-now {
    background-color: rgba(0, 0, 62, 0.8);
    color: #FFFFFF;
    border-radius: 24px;
    border-color: none;
    font-size: 24px;
}

.btn-shop-now:hover {
    color: #FFFFFF;
}

.btn-default:hover {
    background-color: none;
    border-color: none;
}

.call-to-action-cat-name {
    /* --font-colour-red:red;
	--font-colour-blue:blue; */
    /*     font-family: "Lato" sans-serif; */
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    /* font-weight: bold; */
    font-size: 5em;
    /* font-size : 8em; */
    color: rgb(255, 255, 255);
    /* color: var(--font-colour-red, blue); */
    text-transform: uppercase;
    line-height: 1;
    text-shadow: 1px 1px 1px #aaa;
}

.btn-lg.btn-icon .icon,
.btn-group-lg>.btn-icon.btn .icon {
    font-size: 32px;
    padding-right: 24px;
    padding: 0px !important;
}

.call-to-action-cat-link {
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.rd-navbar-default.rd-navbar-light.rd-navbar-fixed .rd-navbar-nav-wrap,
.rd-navbar-sidebar-toggle.rd-navbar-light.rd-navbar-fixed .rd-navbar-nav-wrap,
.rd-navbar-floated.rd-navbar-light.rd-navbar-fixed .rd-navbar-nav-wrap,
.rd-navbar-logo-center.rd-navbar-light.rd-navbar-fixed .rd-navbar-nav-wrap {
    color: #ffffff;
    background-color: #000000;
}

.rd-navbar-default.rd-navbar-light.rd-navbar-fixed .rd-navbar-nav li:hover>a,
.rd-navbar-sidebar-toggle.rd-navbar-light.rd-navbar-fixed .rd-navbar-nav li:hover>a,
.rd-navbar-sidebar-fixed.rd-navbar-light .rd-navbar-nav li:hover>a,
.rd-navbar-floated.rd-navbar-light.rd-navbar-fixed .rd-navbar-nav li:hover>a,
.rd-navbar-logo-center.rd-navbar-light.rd-navbar-fixed .rd-navbar-nav li:hover>a {
    color: #fff;
    background: #00003e;
}

.swiper-pagination-type-2 .swiper-pagination-bullet-active,
.swiper-pagination-type-2 .swiper-pagination-bullet:hover {
    border-color: #00003e;
}

.bg-wheelies {
    background: -moz-linear-gradient(90deg, #00003e 0%, #aaaaaa 100%);
    background: -webkit-linear-gradient(90deg, #00003e 0%, #aaaaaa 100%);
    background: -o-linear-gradient(90deg, #00003e 0%, #aaaaaa 100%);
    background: -ms-linear-gradient(90deg, #00003e 0%, #aaaaaa 100%);
    background: linear-gradient(90deg, #00003e 0%, #aaaaaa 100%);
}

.text-between:before,
.text-between:after {
    background: #00003e;
}

.btn-view-product {
    color: #ffffff;
    background-color: rgba(0, 0, 62, 0.95);
    border-color: rgba(0, 0, 62, 0.95);
}

.btn-view-product:hover,
.btn-view-product:active:focus,
.btn-view-product:active.focus,
.btn-view-product.active:hover,
.btn-view-product.active:focus,
.btn-view-product.active.focus,
.open>.btn-view-product.dropdown-toggle:hover,
.open>.btn-view-product.dropdown-toggle:focus,
.open>.btn-view-product.dropdown-toggle.focus {
    color: #fff;
    background-color: rgba(0, 0, 62, 0.95);
    border-color: rgba(0, 0, 62, 0.95);
    opacity: 0.85;
}

.btn-wheelies {
    background-color: rgba(0, 0, 62, 0.95);
    border-color: rgba(0, 0, 62, 0.95);
}

.btn-wheelies:focus,
.btn-wheelies.focus,
.btn-wheelies:hover,
.btn-wheelies:active,
.btn-wheelies.active,
.open>.btn-wheelies.dropdown-toggle {
    background-color: #00003e !important;
    border-color: #00003e !important;
}

.product-grid.product-grid-type-2 .product-title a:hover {
    color: #00003e;
}

.bg-footer {
    background: #000000;
    fill: #000000;
}

.ui-to-top:hover {
    color: #fff;
    background: #00003e;
}

.text-primary {
    color: #00003e !important;
}

a:hover {
    color: #00003e;
    color: #ffffff;
}

.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>a:active,
.pagination>.active>a:active:focus,
.pagination>.active>span,
.pagination>.active>span:hover,
.pagination>.active>span:focus,
.pagination>.active>span:active,
.pagination>.active>span:active:focus {
    background-color: #00003e !important;
    border-color: #00003e !important;
}

.font-default-1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
}

.wheelies-blue {
    background-color: #00003e !important;
    border-color: #00003e !important;
}

.text-wheelies-blue {
    color: #00003e !important;
}

.box-pricing-dots {
    left: 0px !important;
}

/* .box-pricing-title .box-pricing-price {
	margin-top: 10px !important;
} */
.table>tbody>tr>th {
    min-width: 142px;
    border-right: 1px solid #ddd;
}

.product-single .product-thumbnails {
    position: relative !important;
    top: 20px;
    bottom: 0px !important;
    /* display: block; */
    /* float: left; */
}

.rd-navbar-logo-center.rd-navbar-static .rd-navbar-megamenu {
    margin-top: 0px !important;
}

/** 1.4  Type */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Bree Serif", serif;
    font-weight: 700;
    line-height: 1;
    color: #00003e;
}

h1 small,
h1 .small,
h2 small,
h2 .small,
h3 small,
h3 .small,
h4 small,
h4 .small,
h5 small,
h5 .small,
h6 small,
h6 .small,
.h1 small,
.h1 .small,
.h2 small,
.h2 .small,
.h3 small,
.h3 .small,
.h4 small,
.h4 .small,
.h5 small,
.h5 .small,
.h6 small,
.h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #f2f2f2;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 24px;
    margin-bottom: 36px;
}

h1 small,
h1 .small,
.h1 small,
.h1 .small,
h2 small,
h2 .small,
.h2 small,
.h2 .small,
h3 small,
h3 .small,
.h3 small,
.h3 .small {
    font-size: 65%;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 12px;
    margin-bottom: 12px;
}

h4 small,
h4 .small,
.h4 small,
.h4 .small,
h5 small,
h5 .small,
.h5 small,
.h5 .small,
h6 small,
h6 .small,
.h6 small,
.h6 .small {
    font-size: 75%;
}

h1,
.h1 {
    /* font-size: 45px; */
    font-size: 2.8em;
}

h2,
.h2 {
    /*     font-size: 38px; */
    font-size: 2.4em
}

h3,
.h3 {
    font-size: 2em
}

h4,
.h4 {
    font-size: 1.6em;
}

h5,
.h5 {
    font-size: 1.2;
}

h6,
.h6 {
    font-size: 0.8em;
}

.text-extra-small {
    font-size: 13px;
}

.text-extra-big {
    font-size: 64px;
    line-height: 1;
}

@media (min-width: 768px) {
    .text-extra-big {
        font-size: 4em;
    }
}

.footer ul li {
    color: #ffffff;
}

.rd-navbar-logo-center.rd-navbar-fixed .rd-navbar-submenu.opened>.rd-navbar-megamenu {
    background-color: #ffffff;
}

.mega-menu-column-title {
    padding: 0.625em;
    border-top: solid;
    border-bottom: solid;
    display: block;
    font-family: "Bree Serif", serif;
}

#mega-menu-column-title {
    border-top: none !important;
}

@media only screen and (min-width: 1200px) {

    /*     .mega-menu-column-title {
        padding: 10px;
        border-top: solid;
        border-bottom: solid;
        display: block;
    } */
    #mega-menu-column-title {
        border-top: solid !important;
    }
}

p,
.p,
.list {
    margin-top: 0px !important;
    margin-bottom: 18px;
}

.owl-carousel-default .owl-dot.active {
    background: #00003e;
    opacity: 1;
}

.owl-carousel-default .owl-dot {
    background: #000032;
    opacity: .5;
}

.thumbnail-featured-product {
    max-width: 100%;
    height: 300px;
}

.thumbnail-featured-product img {
    max-width: 100%;
    max-height: 100%;
}

.product-single .product-btn {
    margin-left: 0px !important;
}

/* .page-content {
    height: 85vh;
    overflow-y:scroll;
} */


.page-footer {
    margin-bottom: unset !important;
}

.page-min-height {
    min-height: 69.3vh;
}