.font-size-point-625em

{
	font-size : 0.625em;

}

.font-size-point-750em

{
	font-size : 0.750em;

}

.font-size-point-875em

{
	font-size : 0.875em;

}


.font-size-1-point-125em

{
	font-size : 1.125em;

}

.font-size-1-point-250em

{
	font-size : 1.250em;

}

.font-size-1-point-375em

{
	font-size : 1.375em;

}

.font-size-1-point-500em

{
	font-size : 1.500em;

}

.font-size-1-point-625em

{
	font-size : 1.625em;

}

.font-size-1-point-750em

{
	font-size : 1.750em;

}

.font-size-1-point-875em

{
	font-size : 1.875em;

}

.font-size-2em

{
	font-size : 2.000em;

}

.font-size-2-point-125em

{
	font-size : 2.125em;

}

.font-size-2-point-250em

{
	font-size : 2.250em;

}

.font-size-2-point-375em

{
	font-size : 2.375em;

}

.font-size-2-point-500em

{
	font-size : 2.500em;

}

.font-size-2-point-625em

{
	font-size : 2.625em;

}

.font-size-2-point-750em

{
	font-size : 2.750em;

}

.font-size-2-point-875em

{
	font-size : 2.875em;

}

.font-size-3em

{
	font-size : 3.000em;

}

.font-size-3-point-125em

{
	font-size : 3.125em;

}

.font-size-3-point-250em

{
	font-size : 3.250em;

}

.font-size-3-point-375em

{
	font-size : 3.375em;

}

.font-size-3-point-500em

{
	font-size : 3.500em;

}

.font-size-3-point-625em

{
	font-size : 3.625em;

}
